<html>
  <head>
    <title>mikkin-overwatch</title>
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/overwatch.css">
    <script type="text/javascript" src="assets/js/jquery.1.10.2.min.js"></script>
    <script type="text/javascript" src="assets/js/underscore.1.5.1.min.js"></script>
    <script type="text/javascript" src="assets/js/backbone.1.0.0.min.js"></script>
    <script type="text/javascript" src="assets/js/mustache.js"></script>
    <script type="text/javascript" src="assets/js/ansi_up.js"></script>
    <script type="text/javascript" src="assets/js/overwatch.js"></script>
    <script type="text/javascript">

var $ws = null
$(function() {

  var lines = new Overwatch.Collection.LogLines();
  var nav   = new Overwatch.View.Navigation({model: lines, el: $(".terminal-navbar")});
  var view  = new Overwatch.View.Terminal({model: lines, el: $(".terminal-text")});

  var onerror = function(event) {
    console.log(event);
  }

  var onmessage = function(event) {
    var json = JSON.parse(event.data);
    var channel = json['Channel'];
    var content = json['Content'];
    lines.add({channel: channel, content: content})
  }

  var connect = function() {
    var ws = new WebSocket("{{WebSocketUrl}}");
    $ws = ws;
    ws.onerror   = onerror;
    ws.onclose   = onclose;
    ws.onmessage = onmessage;
    ws.onopen    = function() {
      $('.terminal-socket-error').toggle(false);
      lines.add({channel: "☃", content: "Connected to Overwatchd at " + (new Date())});
    };
  }

  var onclose = function(event) {
    $('.terminal-socket-error').toggle(true);
    lines.add({channel:"☏", content: "Disconnected from Overwatchd at " + (new Date())});
    window.setTimeout(function(){
      lines.add({channel: "☎", content: "Trying to reconnect to Overwatchd at " + (new Date())});
      connect();
    },10000);
  }

  connect();
  $(".terminal-background").css("background-image", "url({{BingImageOfTheDayUrl}})");

});
    </script>
  </head>
  <body class="terminal-background">
    <div class="terminal-socket-error"></div>
    <div class="terminal-navbar">
      <div style="float:right"><form>
        <input type="text" class="search" placeholder="Search...">
      </form></div>
    <div class="clearfix"></div><!-- wat? -->
    </div>
    <div class="terminal-frame">
      <div class="terminal-text"></div>
    </div>
  </body>
</html>


