<html>
  <head>
    <title>mikkin-overwatch</title>
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <script type="text/javascript" src="assets/js/jquery.1.10.2.min.js"></script> 
    <style type="text/css">
	html {
		background: #000;
		color: #fff;
	}

	.terminal-socket-error {
		position: fixed; top: 0px; left: 0px; height: 100px; width: 100px;
		border:1px solid red;
		z-index: 2;
		display: none;
		background-image:url('/assets/img/bzzzt.png');
	}

	.terminal-background {
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 0;
		width:100%;
		height:100%;
		background-image:url('/assets/img/bg1.jpg');
		background-position: center;
		background-repeat: no-repeat;
	}

        .terminal-row {
        	font-family: monospace;
		font-size: 8pt;
	}

	.terminal-frame {
		height: 90%;
		z-index: 1;
		border: 1px solid #333;
		padding: 5px 7px 5px 7px;
		margin: 5px 40px 30px 40px;
		background: #000;
		opacity:0.75;
		overflow-y: scroll;
	}

        .terminal-text-count {
	  color: #666666;
        }

        .terminal-text-channel {
	  color: #CCCC00;
        }

        .terminal-text-line {
	  color: #DDDDDD;
        }

	.terminal-text-pipe {
	  color: #222222;
        }

        .terminal-text-date {
	  color: #AAAAAA;
        }


	.terminal-navbar {
		border: 1px solid #333;
		margin: 10px 40px 0px 40px;
		background: #000;
		opacity:0.75;
	}

	.search { 
		padding:3px 15px 3px 30px;
		margin:3px;
		width: 250px;
		background: url('./images/search.png') no-repeat 8px 6px; 
	}
	
	input[type=text]{
		border:1px solid #2a2e31;
		background-color:#2d3035;
		color:#bcbcbc;
	}


.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}


    </style>
    <script type="text/javascript">

	var search_dirty = false;
        function search () {
          var str = $('.search').val();
          if (str.length <= 2 && search_dirty == true) {
            $('.terminal-row').each(function(i,e){
              $(e).css('opacity', 1);
            });
            search_dirty=false;
          }

          $('.terminal-row').each(function(i,e){
            if (!e.innerText.match(str)) {
              console.log("s=" + str + "; e=" + e);
              $(e).css('opacity', '0.4')
              search_dirty=true;
            }
          });
        }

	function updateTerminal (text) {
          var node = $(".terminal-text");
          var trow = '<div class="terminal-row">' + text + '</div>';

          // remove one from the top if necessary
          if (node.children().length >= 5000) {
            console.log("pushing off the top")
            node.children()[0].remove()
          }

          // add one to the bottom!
          node.append(trow)
          $(".terminal-frame").scrollTop($(".terminal-text").last()[0].scrollHeight);
	}

      $(function(){
        var regex_date1 = /(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Dec)\s(\d{1,2})\s(\d{2}\:\d{2}\:\d{2})/;
        var count = 0;

	var onerror = function(event) {
		console.log(event);
	}

        var onmessage = function(event) {
          count   += 1;
          var json = JSON.parse(event.data);
          var chan = json['Channel'];
          var line = json['Content'];

          // make lines a little more pretty
          if (line.match(regex_date1)) {
            line = line.replace(regex_date1, '<span class="terminal-text-date">$1 $2 $3</span>');
          }

          var html = "";
          html += '<span class="terminal-text-count">' + count + '</span>';
          html += '<span class="terminal-text-pipe">&nbsp;|&nbsp;</span>';
          html += '<span class="terminal-text-channel">' + chan + '</span>';
          html += '<span class="terminal-text-pipe">&nbsp;|&nbsp;</span>';
          html += '<span class="terminal-text-line">' + line + '</span>';

	  updateTerminal(html)
        }

	var connect = function() {
        	var ws    = new WebSocket("ws://localhost:4000/websocket");
		ws.onerror   = onerror;
		ws.onclose   = onclose;
		ws.onmessage = onmessage;
		ws.onopen    = function() {
			$('.terminal-socket-error').toggle(false);
			updateTerminal("☃ Connected to Overwatchd at " + (new Date()));
                };
	}

	var onclose = function(event) {
		$('.terminal-socket-error').toggle(true);
		updateTerminal("☏ Disconnected from Overwatchd at " + (new Date()));
		window.setTimeout(function(){
			updateTerminal("☎ Trying to reconnect to Overwatchd at " + (new Date()));
			connect();
		},10000);
	}

	connect();

      });
    </script>
  </head> 
  <body class="terminal-background">
	<div class="terminal-socket-error"></div>
	<div class="terminal-navbar">
          <div style="float:right">
		<form onsubmit="search()">
			<input type="text" class="search" placeholder="Search..." onkeyup="search()">
		</form>
	  </div>
          <div class="clearfix"></div><!-- wat? -->
	</div>
	<div class="terminal-frame">
		<div class="terminal-text"></div>
	</div>
  </body>
</html>


